@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "更改密码";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" role="alert"></div>
    <div>
        <label asp-for="Input.UserName">用户名</label>
        <input asp-for="Input.UserName" autocomplete="username" aria-required="true" placeholder="输入用户名" />                
        <span asp-validation-for="Input.UserName"></span>
    </div>
    <div>
        <label asp-for="Input.OldPassword">旧密码</label>
        <input asp-for="Input.OldPassword" autocomplete="new-password" aria-required="true" placeholder="输入旧密码" />                
        <span asp-validation-for="Input.OldPassword"></span>
    </div>
    <div>
        <label asp-for="Input.Password">新密码</label>
        <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="输入新密码" />                
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <label asp-for="Input.ConfirmPassword">确认新密码</label>
        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="再次输入新密码" />                
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <button type="submit">更改密码</button>
</form>
