@using Microsoft.AspNetCore.Identity
@using WebLoginDemo.Models.database
@inject SignInManager<IdentityUserModel> SignInManager
@inject UserManager<IdentityUserModel> UserManager
@{
	Layout = null;
}
<head data-page="admin_Index">
    <title>管理员页面</title>
    <script src="~/dist/js/site.js" type="text/javascript" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/css/site.css" type="text/css" asp-append-version="true">
</head>
<body>
    <header>
        <h2>欢迎管理员 @User.Identity?.Name</h2>
        <hr/>
    </header>
    <div>
        <h3>邀请码列表</h3>
    </div>
</body>
