@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head data-page="StartPage_Index">
    <title>网页登录演示</title>
    <script src="~/dist/js/site.js" type="text/javascript" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/css/site.css" type="text/css" asp-append-version="true">
</head>
<body>
    <form method="post" action="/StartPage/Save">
        <input type="text" name="t1" />
        <input type="text" name="t2" />
        <button type="submit">数据库测试</button>
    </form>
</body>
